*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    
    background: #232427 ;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
   
    
}
.Container{
    display: flex;
    padding-left: 25px;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    margin: 60px 0px;
}
.Container .card{
    position: relative;
    min-width: 220px;
    
    height: 300px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
                inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0, 0, 0, 0.3) ,
                -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
}
.Container .card .box{
    position: absolute;
    top: 20px;
    left:20px;
    right: 20px;
    bottom: 20px;
    
    background: #2a2b2f;
    border: 2px solid #1e1f23;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.Container .card .box:hover{
    transform: translateY(-50px);
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}
.Container .card .box .content{
    padding: 20px;
    text-align: center;
}
.Container .card .box .content a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    
}